* {margin: 0; padding: 0;}
nav {width: 100vw; height: 70px; background-color: blue;}
.banner {width: 100vw; height: calc(100vh - 80px); background-image: url('campeonato.jpg'); background-size: cover;}