#box{
	width: 400px;
	height: 400px;
	margin: 50px auto;
	padding: 8px;
	background:#009670;
	/*box-shadow: 10px 10px 2px 20px black;*/
	box-shadow: 10px 10px 2px black, -10px -10px 2px red;

	/*box-shadow é para aplicar elementos em geral.
	o primeiro px movimenta a sombra na horizontal. 
	O segundo px movimenta verticalmente.
	O terceiro px define o bluer
	O quarto px é o sprad que define o espalhamento da sombra */
}

#box h1{
	color: white;
	font-size: 60px;
	text-shadow: 5px 5px 10px black; /* texto-shadow é para aplicar elementos em textos.
	o primeiro px movimenta a sombra na horizontal. 
	O segundo px movimenta verticalmente.
	O terceiro px define o bluer*/
	/*text-shadow: 20px 20px  rgba(0, 0, 0, 0.5) ;*/
	text-shadow: 4px 5px black;
}

/***********************************
****ANIMAÇÕES*****/

/*Criar animações*/

@keyframes animacao-box{
		from {
			background: red; 
			border-radius: 0px; 
			top: 0; 
			left: 0;
		} /*estado inicial*/

		to {
			background: yellow; 
			border-radius: 300px; 
			top: 200px; 
			left: 200px;
		} /*estado final*/
}

#box-animacao{
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	/*animation-name: animacao-box;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate;*/

	animation: animacao-box 5s 2s 2 alternate;
}

/*******************
**********TRANSIÇÕES*************/
#box-transicao{
	width: 300px;
	height: 300px;
	background: orange;
}

#box-transicao:hover{
	width: 400px;
	background: black;
	/*transition: background 3s, 8s;*/
	transition: all 3s; /*all faz com que todas as transições movam ao mesmo tempo*/
}